#channels-list :hover {
  background-color: #ebebeb;
}

.selected {
  background-color: #f5f5f5;
}
  
.channels-list-info {
  color: #ABABAB;
}
  
.vote-icon {
  font-size: 1.7em;
  color: #ABABAB;
}
  
.vote-icon :hover {
  color: #FF0000;
}

.delete-button {
  color: #ABABAB;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.delete-button:hover {
  color: #777;
}

