.img-container {
    display: flex;
    justify-content: center;
    margin: 2em 0em;
}

.first-section {
    height: calc(100vh - 8vh); // Replace to header Height
}

.middle-section {
	height: 100vh;
}

.last-section {
    height: calc(100vh - 74px); // Replace to footer Height
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float-in-space {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}