.img-container {
    display: flex;
    justify-content: flex-start;
    margin: 4em 0em;
}

.img-center {
	justify-content: center;

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.float-in-space {
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}