// First option- change the global styles :/
// @import '~antd/dist/antd.css';

// Second option- import the specific styles (from the tsx file it didn't work), I need to find other styles those components uses
// @import "~antd/lib/button/style/index.css";
// @import "~antd/lib/modal/style/index.css";
// @import "~antd/lib/select/style/index.css";

// Third Option- create a stupid copy of antd.css and comment out the global styling in the beginning, works good, hopefully doesn't affect anything else, also updates going to be manual (probably will be forgotten)
@import './deepFocusAntCssCopyJustDisableGlobalChange.css';

// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.childrenInRow {
    display: flex;
    align-items: center;
}

.select-container{
    margin: 1em 2em 1em 0em; 
}

.footer-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-text {
    font-size: 0.80em;
    margin-bottom: 0px !important;
}

.notify-time-running-out-message {
        margin-top: 5vh;
}