// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.header {
    height: 8vh;
}

.spacer {
    height: 2em;
    width: 0.01vw;
}

.first-section {
    height: calc(100vh - 8vh); // Replace to header Height
}

.middle-section {
	height: 100vh;
}

.last-section {
    height: calc(100vh - 61px); // Replace to footer Height
}

.only-one-section {
	min-height: calc(100vh - 8vh - 61px - 24px); // header, footer, padding of layout
}

.my-sider {
    margin-top: 40px;
    border-right: 2px solid #EBEBEB;
}

.submit-button {
    margin-top: 3em;
}

.ant-menu-item-icon {
    vertical-align: sub !important;
}